/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  background: #AB0319;
  transition: all 0.5s ease;
}
.sidebar .logo img{
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
}

.sidebar .nav-links {
  margin-top: 10px;
  height: 70%;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  height: 60px;
  margin: 40px 0;
}

.sidebar .nav-links li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li a:hover {
  background: #750000;
  transition: 0.2s ease-out;
}

.sidebar .nav-links li i {
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.sidebar .nav-links li a .links_name {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
}
.home-section {
  position: relative;
  background: #e8e8e8;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}

.sidebar.active ~ .home-section {
  width: calc(100% - 60px);
  left: 60px;
}

.home-section nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}

.home-section nav .sidebar-button {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}

nav .sidebar-button i {
  font-size: 35px;
  margin-right: 10px;
}


.home-section nav .profile-details {
  display: flex;
  align-items: center;
  background: #f5f6fa;
  border: 2px solid #efeef1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}


.home-section .home-content {
  position: relative;
  padding-top: 104px;
}
/* Tambahkan gaya untuk bagian About Us */

.about-us-section {
  padding: 20px;
  justify-content: center;
}

.about-header h2 {
  font-size: 24px;
  font-weight: bold;
}

.grid-about{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.grid-about h2{
  justify-content: center;
}
.grid-about img{
  width: 150px;
}


.about-content {
  display: flex;
  justify-content: center;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2;
}

.member {
  text-align: center;
  margin: 20px;
}

.member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #b22222; /* Warna border bisa disesuaikan */
}

.member h3 {
  margin-top: 10px;
  font-size: 20px;
}

.member .role {
  display: block;
  font-size: 16px;
  color: #555;
}
/* Tambahkan di bawah bagian sebelumnya */

.member .social-icons {
  margin-top: 10px;
}

.member .social-icons a {
  margin-right: 10px;
  color: #AB0319;
}

.member .social-icons a:last-child {
  margin-right: 0;
}

footer {
  background-color: #AB0319; 
  color: #fff;
  text-align: center; 
  padding: 20px 10px; 
  margin-top: auto;
  overflow: hidden;
  border-left: 10px solid #efeef1;
  width: 100%;
}

@media (max-width: 600px) {
  footer {
      padding: 15px 5px;
 }
}



/* Responsive Media Query */

@media (max-width: 1240px) {
  .sidebar {
    width: 60px;
  }
  .sidebar.active {
    width: 220px;
  }
  .home-section {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section {
    overflow: hidden;
    left: 220px;
  }
  .home-section nav {
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav {
    width: calc(100% - 220px);
    left: 220px;
  }
}

@media (max-width: 1150px) {
  .home-content .sales-boxes {
    flex-direction: column;
  }
  .home-content .sales-boxes .box {
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales {
    margin: 0;
  }
}

/*@media (max-width: 1000px)
